<div class="section-modal fade in" id="portfolio-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>Your Classes</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right new-class">
                    <a routerLink="/new-class" class="btn btn-primary">Create Class</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" *ngFor="let item of data, let i=index">
                    <div class="portfolio-item">
                        <img src="/img/classes/{{ item.picture }}" class="img-responsive" alt="{{ item.name }}">
                        <div class="portfolio-details text-center">
                            <h4>{{ item.name }}</h4>
                            <a routerLink="/class/{{ item.id }}"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>