.modal-content {
  background: transparent;
}
.white-bg {
  background: #fff;
  padding: 15px;
  //display: flex;
  //align-items: center;
  margin-top: 50px;
}
.footer-contact-info {
  height: 100%;
}
.footer-social li {
  padding: 5px;
}
.footer-social li a {
  display: block;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  background: transparent ;
}
.profile-pic {
  width: 200px;
  height: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.profile-pic img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
}
.ico-new-pic {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, .6);
  -webkit-transition: .3s linear opacity, .3s linear background;
  -moz-transition: .3s linear opacity, .3s linear background;
  -ms-transition: .3s linear opacity, .3s linear background;
  -o-transition: .3s linear opacity, .3s linear background;
  transition: .3s linear opacity, .3s linear background;
}
.ico-new-pic:hover {
  opacity: 1;
}
.ico-new-pic i {
  line-height: 200px;
  font-size: 60px;
  color: #999;
}