<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="menu-item light-orange">
                    <a routerLink="/video-chat" data-toggle="modal">
                        <i class="fa fa-users"></i>
                        <p>Video Chat</p>
                    </a>
                </div>
                <div class="menu-item blue">
                    <a routerLink="/student-profile" data-toggle="modal">
                        <i class="fa fa-user"></i>
                        <p>Profile</p>
                    </a>
                </div>
                <div class="menu-item green">
                    <a routerLink="{{ class_link }}" data-toggle="modal">
                        <i class="fa fa-file-photo-o"></i>
                        <p>Classes</p>
                    </a>
                </div>
                <div class="menu-item light-red">
                    <a href="#about-modal" data-toggle="modal">
                        <i class="fa fa-magic"></i>
                        <p>About Us</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-item color">
                    <a href="#service-modal" data-toggle="modal">
                        <i class="fa fa-area-chart"></i>
                        <p>Services</p>
                    </a>
                </div>
                <div class="menu-item purple">
                    <a href="#pricing-modal" data-toggle="modal">
                        <i class="fa fa-usd"></i>
                        <p>Pricing</p>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="menu-item light-red">
                    <a href="#contact-modal" data-toggle="modal">
                        <i class="fa fa-envelope-o"></i>
                        <p>Contact</p>
                    </a>
                </div>
                <div class="menu-item color">
                    <a href="#clients-modal" data-toggle="modal">
                        <i class="fa fa-comment-o"></i>
                        <p>Clients</p>
                    </a>
                </div>
                <div class="menu-item blue">
                    <a href="#news-modal" data-toggle="modal">
                        <i class="fa fa-edit"></i>
                        <p>Blog</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyright text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>Course Project by Vika Bondar</div>
            </div>
        </div>
    </div>
</div>